/* Default Styles */
html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(73, 73, 73);
}
header {
    display: flex;
    height: 80px;
    margin: 0 0;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: #1ac0b8;
}
header h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5em;
    margin: 0 auto 0.2em;
}
.options-form {
    color: #dddddd;
    margin: 5px auto;
}
.question-list {
    list-style-type: none;
    display: inline-flex;
    flex-wrap: wrap;
}
.question-list li {
    border: 5px solid gold;
    background: #daa520;
    border-radius: 5px;
    padding: 2px 8px;
    margin: 5px auto;
}
.question {
    width: 45%;
}
.question.hard {
    border-color: red;
}
.question.medium {
    border-color: gold;
}
.question.easy {
    border-color: green;
}
.category-identifier {
    margin: 0 auto 3px;
    text-align: end;
}
.question-text {
    text-align: center;
}
.answer-list {
    list-style-type: upper-latin;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.answer-list li {
    margin: 5px 0;
    order: attr(order);
    background-color: rgba(200, 200, 200, 0.6);
    border: 2px solid rgba(200, 200, 200, 0.5);
}
.incorrect-answer {
    color: red;
}
.correct-answer {
    color: rgb(45, 123, 240);
}
button {
    background-color: forestgreen;
    border-radius: 0.3em;
    border: none;
    padding: 10px 20px;
    margin: 1em auto;
}
.hidden{
    display: none;
}
.red{
    color: #b00000;
}
